:root {
    --nav_left_max: 100vw;
    --nav_top: 50vh;
    --nav_handle_size: 25px;
    --fonturl: 'AsAbove,SoBelow(Beta47)VF.ttf';
    --purple: #796e7a;
    --white: #e8efef;
}

@font-face {
    font-family: 'asabovesobelow';
    src: url('AsAbove,SoBelow(Beta47)VF.ttf');
}

html,
body {
    font-size: 25px;
    background-color: var(--purple);
}

* {
    box-sizing: border-box;
    font-family: asabovesobelow;
    margin: 0;
    padding: 0;
    font-variation-settings: 'wght' 0;
    color: var(--purple);
    font-kerning: normal;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
nav {
    font-size: 1rem; /* control */
    --nav_padding: 20px;
    --nav_left: min(
        calc(100vw - var(--nav_handle_size)),
        max(var(--nav_left_max), calc(0.4em + var(--nav_padding) * 2))
    );
    --nav_unit: calc(1em / (20 / 1.4));
    width: calc(var(--nav_left) + var(--nav_handle_size) / 2);
    padding: var(--nav_padding);
    padding-top: calc(var(--nav_padding) + 2.8em);
    height: 100%;
    background-color: var(--white);
    overflow: hidden;
}

nav a {
    text-decoration: none;
    display: block;
    width: fit-content;
}

nav :is(.sublink, #logo2):hover,
#logo1:hover ~ #logo2 {
    text-decoration: underline;
}

nav #nav_handle {
    width: var(--nav_handle_size);
    height: var(--nav_handle_size);
    background-color: var(--white);
    border: solid 2px var(--purple);
    border-radius: 25px;
    position: absolute;
    touch-action: none;
    user-select: none;
    left: var(--nav_left);
    top: min(calc(100vh - var(--nav_handle_size)), var(--nav_top));
    z-index: 100;
}

nav #logo1 {
    font-variation-settings: 'wght' 200;
}

nav .logo {
    word-break: break-all;
    line-height: 0.6em;
}

nav #ontransitionend {
    opacity: 0;
    z-index: -100;
    pointer-events: none;
    left: 0;
    transition: left 0.5s;
    display: block;
    width: 100%;
}

nav #ontransitionend.trans {
    left: 1px;
}

nav .sublink {
    line-height: 1em;
    margin-top: 2.7em;
    position: relative;
    left: 0;
    transition: left 0.5s;
}

nav :is(.sublink, #logo2) span {
    font-kerning: none;
    transition: font-variation-settings 0.2s;
    font-variation-settings: 'wght' 0;
}

nav.anim :is(.sublink, #logo2) span {
    font-variation-settings: 'wght' 100;
}

nav.small #logo2 span,
nav.small #logo2 {
    font-variation-settings: 'wght' 100;
}

nav.small .sublink {
    left: 0 !important;
}

nav.small #logo2:hover,
nav.small #logo1:hover ~ #logo2 {
    text-decoration: none;
}

nav.small #logo2:hover span,
nav.small #logo1:hover ~ #logo2 span {
    text-decoration: underline;
}
